---
layout: archive
title: "Talks and Seminars"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% include base_path %}

<h2>Featured Talks and Seminars</h2>

I have presented my research on quantum information, quantum cryptography, and quantum networks at national and international conferences, workshops, and faculty development programs. Below is a comprehensive archive of my recent talks and seminars.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}